.navbar-fixed-top {

	background-color: rgb(60,160,220);
	padding: 0 0 0 0px;
	height: 100px;
	margin: auto;
}

.mainheader {

	color: white;
}

.contentarea {

	color: black;
	margin: 2px;
}

.desctext {

	font-size: 14px !important;
	padding: 10px 30px 10px 30px !important;
}

.jumbotron {

	background: blue;
}


.etsinappula {

	position: relative;
	width: 50px ;
}

.contentarea {

	margin-top: 20px;
	padding-top: 30px;
	background-color: rgb(200,200,220);
}

a:link {

	color: black;
}

a:visited {

	color: black;
}

a:hover {

	color: blue;
}

a:active {

	color: black;
}






