<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bussiopas</title>
  <meta name="description" content="Tampereen bussihaku">
  <meta name="author" content="Jussi">

  <link rel="stylesheet" href="css/style.css">

  
  	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body ng-app="bussiopas" ng-controller="mainCtrl">
<div class="container">
	<div class="page-header text-center">
	<h2>Lähimmät bussipysäkit Tampereella</h2>
	<h4>Ohjelma Tampereen bussiliikenteen API:n testaamiseen</h4>
	</div>


	
	<form ng-submit="getLines()">
	<div class="row">
		<div align="center" class="input-group col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
		<!--<input class="hakuboksi1" ng-model="aloitus" required type="text" placeholder="Alkusijainti esim. Ilmarinkatu 34"></input><br>-->
		<input class="form-control" ng-model="osoite" required type="text" placeholder="Sijainti esim. Itsenäisyydenkatu 2"></input>
		<span class="input-group-btn"><button class="btn btn-primary" type="submit">Etsi</button></span>
		</div>
	</div>
	</form>

	<div class="row">
		<div class="contentarea well col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2 col-xs-12">
			<div ng-repeat="stop in busStops">
				<span><strong>{{busStops.indexOf(stop) + 1}}.</strong> lähin bussipysäkki: <strong>
				<span id="lahinPysakki">{{stop.name}}</span></strong> 
				<span id="lahinEtaisyys"> ({{roundToInt(stop.distance)}} m)</span><br></span>
				<!-- <div class="gotElement well text-primary" ng-repeat="linja in linjat"> -->
			</div>
		<!-- <span>{{processTime}}</span> -->
		</div>
	</div>
	<div class="row">
	<div class="jumbotron col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2 col-xs-12" style="padding: 0px">
	<p class="desctext">Tämä ohjelma hakee ensin Geocode API:sta käyttäjän syöttämän tamperelaisen osoitteen koordinaatit ja etsii sen jälkeen lähietäisyydeltä bussipysäkkejä TKL:n API:sta. Ohjelma pyrkii hakemaan kolme lähintä bussipysäkkiä etsimällä ensin 400m koordinaattiboksista, ja jos pysäkkejä on alle 3, se lisää sädettä 100 metrillä ja etsii uudestaan. Tämän jälkeen ohjelma laskee etäisyydet ja esittää ne järjestyksessä. Etäisyyksien laskemiseen käytetään Haversine-kaavaa, mikä helkutti moinen sitten Suomeksi lieneekään, nimim. pitkä matematiikka käyty 10+ vuotta sitten.</p>
	<p class="desctext">Tarkoituksenani on hiljalleen lisäillä tähän sovellukseen ihan oikeitakin (ts. hyödyllisiä) toiminnallisuuksia, kohti uutta Repa Reittiopasta ja sen yli. Mahdollisesti palvelinpuolelle voisi tallentaa jotain istuntodataa jolla sitten personoida näkymää palaaville käyttäjille. Lähinnä homman nimi on kuitenkin (ainakin tähän mennessä) ollut yleinen APInointi ja JSON-derulo-tyyppinen autodidaktinen sähellys.</p>
	<p class="desctext">Tyylit purkkaviritelty kasaan Bootstrapilla, dynaamisten elementtien esitys hoidettu Angular-yks-piste-jollakin ja HTTP-anelut jQueryllä, tosin sekin taitais perusjutuiltaan olla integroituna tossa Angularissa.</p>
	</div>
	</div>
	<div class="row">
	<div class="col-md-offset-3 col-md-6 col-sm-8 col-sm-offset-2 col-xs-12">
	<p align="center"><a href="http://www.facebook.com/voiii/"><i class="fa fa-4x fa-facebook-square"></i></a> <a href="http://github.com/jussisaurio/"><i class="fa fa-4x fa-github"></i></a> <a href="mailto:jussi.saurio@gmail.com"><i class="fa fa-4x fa-envelope"></i></a></p>
	</div>
	</div>
</div>


	<!-- scripts, scrolls and other wizardry -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="js/app.js"></script>



</body>
</html>